* {
    margin: 10px;
    padding: 10px;
    border: 2px solid lightsteelblue;
}

/* .btn {
    background-color: limegreen;
} */

/* .futureUp li {
    background-color: aqua;
} */

/* #stw {
    background-color: pink;
} */